---
layout: default
---

<div class="blog list">
    {% if page.tag == "albums" %}
    <h1 style="color: #556b2f;">{{ page.tag }}</h1>
    {% elsif page.tag == "articles" %}
    <h1 style="color: #4C6A92;">{{ page.tag }}</h1>
    {% endif %}

    {% for post in site.categories[page.tag] %}
    <article>
        <header>
            {% if post.categories contains "albums" %}
            <div class="title">{{ post.title }}</div>
            <div class="date_taken">{{ post.date_taken }}</div>
            <div class="camera">{{ post.camera }}</div>
            {% elsif post.categories contains "articles" %}
            <div class="title">{{ post.title }}</div>
            <div class="author">By {{ post.author }}</div>
            <div class="date">Published {{ post.date | date_to_string }}</div>
            {% endif %}
        </header>
        {{ post.content }}
    </article>
    {% endfor %}
</div>