<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/category/albums">albums</a></li>
            <li><a href="/category/articles">articles</a></li>
        </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div><!-- /.container -->
    <footer>
        
<footer class="footer">
    {% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}">{% include svg-icons/github.html %}</a>{% endif %}
    {% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}">{% include svg-icons/twitter.html %}</a>{% endif %}
  </footer>
  
        <ul>
            <li></li>
        </ul>
    </footer>
</body>

</html>