---
layout: default
---

<div class="blog list">

    <article>
        <header>
            {% if page.categories contains "albums" %}
            <div class="title">{{ page.title }}</div>
            <div class="date_taken">{{ page.date_taken }}</div>
            <div class="camera">{{ page.camera }}</div>
            {% elsif page.categories contains "articles" %}
            <div class="title">{{ page.title }}</div>
            <div class="author">By {{ page.author }}</div>
            <div class="date">Published {{ page.date | date_to_string }}</div>
            {% endif %}
        </header>
        {{ page.content }}
    </article>
</div>